<nav class="navbar navbar-expand-lg navbar-dark bg-dark my-4">
        <a class="navbar-brand" href="{% url 'index' %}">Ana səhifə</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_icerik" >
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbar_icerik">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'about' %}">HAQQIMIZDA</a>
                </li>
                <li class="nav-item active">
                        <a class="nav-link" href="{% url 'article:articles' %}">MƏQALƏLƏR</a>
                    </li>
                   
            </ul>

            <ul class="navbar-nav ml-auto">
               

            {% if request.user.is_authenticated %}
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'article:dashboard' %}">KONTROL PANELİ</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'user:logout' %}">ÇIXIŞ</a>
                </li>
               
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'user:login' %}">GİRİŞ</a>
                </li>
            {% endif %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'user:register' %}">QEYDİYYAT</a>
            </li>
            
               
                </ul>
        </div>
    </nav>				